<div class="teal">
	<div class="container">
		<h2>Admin Page</h2>

		<div class="row">
			<div class="teal darken-2 col s12 m6 white-text">
				<h4>Soci</h4>
				<form>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input ng-model="userqry" type="text" id="icon_prefix" class="autocomplete" autocomplete="off">
							<label for="icon_prefix">cerca</label>
						</div>
					</div>
				</form>
			</div>

			<div class="teal darken-2 col s12 m6 white-text">
				<h4>Eventi</h4>
				<h5>in corso</h5>
				...
				<h5>nuovo evento</h5>
				<form>
					<label for="cerca">titolo</label>
					<input type="text" name="cerca">
					<button class="btn orange">crea</button>
				</form>
				<h5>eventi passati</h5>
				<form>
					<label for="cerca">Cerca</label>
					<input type="text" name="cerca">
					<button class="btn orange">go</button>
				</form>
			</div>

		</div>
	</div>
</div>