<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Soliptica</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/">Home</a></li>

      <li ng-hide="user_obj"><a href="#/login">Login</a></li>
      <li ng-hide="!user_obj"><a href="#/summary"> Gestionale </a></li>
      <li ng-hide="!user_obj"><a href="#/admin"> Admin </a></li>
      <li ng-hide="!user_obj"><a href="#/userpage"> <i class=" material-icons left">perm_identity</i>{{user_obj.user_name}}</a></li>
      <li ng-hide="!user_obj"><a href="" ng-click="logout()"> Logout </a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#/">Home</a></li>

      <li ng-hide="user_obj"><a href="#/login">Login</a></li>
      <li ng-hide="!user_obj"><a href="#/summary"> Gestionale </a></li>
      <li ng-hide="!user_obj"><a href="#/admin"> Admin </a></li>
      <li ng-hide="!user_obj"><a href="#/userpage"><i class="large material-icons">perm_identity</i>{{user_obj.user_name}}</a></li>
      <li ng-hide="!user_obj"><a href="" ng-click="logout()"> Logout </a></li>

    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<script src='./init.js'></script>