<div>
    <div class="row">
        <div class="container">
            <h4>Modifica Utente</h4>
            <div class="card">
            <span>Username:</span><span>{{user_obj.user_name}}</span>
            <p>Email</p>
            </div>
            <hr>
            <h6>Cambia Password</h6>
            <form>
                <div class="row">
                    <div class="col s9">
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <input type="text">
                    </div>
                    <div class="col s3">
                        <button class="btn">cambia</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>